h2 {
    padding-top: 160px;
    padding-bottom: 40px;
    color: rgb(98, 125, 214);

}


.container2 {

    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 30px;


    p {
        padding-top: 20px;
        padding-bottom: 50px;
        color: rgb(98, 125, 214);
        padding-right: 180px;
    }

    img {
        width: 70%;

    }

    .conjunto6 img {
        padding-top: 90px;
    }

    .conjunto7 img {
        padding-top: 110px;
        padding-right: 10px;
        width: 300px;
    }

    .conjunto8 img {
        padding-top: 60px;
        width: 400px;

    }

    .conjunto9 img {
        padding-top: 90px;

    }
}

.container3 {

    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 90px;

    p {
        padding-top: 20px;
        padding-bottom: 50px;
        color: rgb(98, 125, 214);
        padding-right: 200px;
    }

    img {
        width: 70%;
    }

    .conjunto11 img {
        width: 380px;
    }

}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 50px;

    ul {
        list-style: none;


        li {
            display: inline-block;
            padding: 0 50px;
            padding-top: 10px;

            &:hover {
                transform: scale(1.1);
            }

            a {
                font-size: 800;
                color: rgba(165, 16, 140);
                text-decoration: none;

                &:hover {
                    color: rgb(175, 37, 255);
                }
            }

        }
    }
}

footer {
    background-color: rgb(199, 5, 199);
    font-size: 16px;

    p {
        display: flex;
        justify-content: center;
        padding-top: 50px;

    }


    ul {
        list-style: none;

        i {
            padding-right: 20px;
            padding-top: 50px;
        }
    }

}