nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 50px;

    ul {
        list-style: none;

        li {
            display: inline-block;
            padding: 0 50px;
            padding-top: 78px;

            &:hover {
                transform: scale(1.1);
            }

            a {
                font-size: 800;
                color: rgba(165, 16, 140);
                text-decoration: none;

                &:hover {
                    color: rgb(175, 37, 255);
                }
            }

        }
    }

}



.fotosvintage {
    padding-top: 40px;
    padding-bottom: 30px;

    img {
        width: 500px;
        margin: 60px;
    }
}



.imagen-home {
    display: flex;
    justify-content: center;

    img {
        padding-top: 0px;
        padding-bottom: 50px;
        width: 100%;
    }
}

.sale {
    display: flex;
    justify-content: center;

    img {
        width: 400px;
        padding-bottom: 20px;
    }

}


.tituloabajo {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-bottom: 20px;
    padding-top: 10px;


    h1 {
        font-size: 25px;
        color: rgba(165, 16, 140);
        padding-right: 200px;
    }

    h2 {
        font-size: 25px;
        color: rgba(165, 16, 140);
        padding-right: 150px;
        padding-top: 120px;

    }

    h3 {
        font-size: 25px;
        color: rgba(165, 16, 140);
        padding-top: 120px;
    }
}

.imagenes {

    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 70px;

    img {
        display: flex;
        width: 300px;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    p {
        padding-top: 20px;
        font-size: 18px;
        color: rgba(165, 16, 140);
    }

}

.imagenes2 {

    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 70px;

    img {
        display: flex;
        width: 300px;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    p {
        padding-top: 20px;
        font-size: 18px;
        color: rgba(165, 16, 140);
    }

}

.redessociales ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
    padding-bottom: 50px;

    i {
        padding: 20px;
    }

    a{
        color:rgba(165, 16, 140) ;
    }
}