footer {
    background-color: rgb(230, 207, 230);
    padding-top: 40px;
    font-size: 15px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-right: 80px;
    }

}
