header {
    background-color: rgba(122, 212, 189, 0);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.7s;
    height: 90px;
    padding: 30px 10%;
    z-index: 1000;

    img {
        display: flex;
        position: relative;
        left: 0px;
        padding-left: 0px;
        padding-top: 10px;
        height: 200px;
        width: auto;
        transition: all 0.3s;
        cursor: pointer;
        margin-right: auto;
    }

    img:hover {
        transform: scale(1.3);
    }

}