nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 50px;

    ul {
        list-style: none;

        li {
            display: inline-block;
            padding: 0 50px;
            padding-top: 35px;

            &:hover {
                transform: scale(1.1);
            }

            a {
                font-size: 80;
                color: rgba(165, 16, 140);
                text-decoration: none;

                &:hover {
                    color: rgb(175, 37, 255);
                }
            }

        }
    }
    
}

input{
    width: 80px;
}
